@media (max-width: 979px) {
  .row-fluid .span3 {
    width: 25.639% !important;
    margin-left: -1px !important;
  }
}

@media (min-width: 1200px) {
  .row-fluid .span3 {
    width: 25.727829933166506% !important;
    margin-left: -1px !important;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .row-fluid .span3 {
    width: 25.828728675842287% !important;
    margin-left: -1px !important;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .row-fluid .span3 {
    width: 25.638297080993650% !important;
    margin-left: -1px !important;
  }
}
@media (max-width: 767px) {
  .row-fluid .span3 {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .main-inner {
    border-top-right-radius: 0px;
    -webkit-border-radius-topright: 0px;
    -moz-border-radius-topright: 0px;
  }
}
@media (max-width: 480px) {
  .row-fluid .span3 {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .main-inner {
    border-top-right-radius: 0px;
    -webkit-border-radius-topright: 0px;
    -moz-border-radius-topright: 0px;
  }
}
body {
  background: #333;
  color: #666;
  font: 12px/18px Verdana, Geneva, sans-serif;
  text-rendering: optimizeLegibility;
  padding-top: 0;
}

body.toolbar {
  padding-top: 30px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 18px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h3,
h4,
h5,
h6 {
  line-height: 36px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
}
a:link,
a:visited {
  color: #0074bd;
  text-decoration: none;
}

/*
 * Blocks
 */
.sidebar-right {
  border-right: 1px solid #233140;
  border-bottom: 1px solid #233140;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}
.region-sidebar-first {
  color: #fff;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}
.region-sidebar-first section {
  padding: 0 !important;
}
.region-sidebar-first section:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}
.region-sidebar-first section .block-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  margin: 0;
  padding: 5px 10px;
  text-transform: lowercase;
}
.region-sidebar-first section .block-content {
  line-height: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  overflow: hidden;
}
.region-sidebar-first section a {
  text-decoration: underline;
}
.region-sidebar-first section blockquote:last-child,
.region-sidebar-first section p:last-child,
.region-sidebar-first section table:last-child {
  margin-bottom: 0;
}
.region-sidebar-first section {
  background: #dddcd2;
  color: #273a44;
}
.region-sidebar-first section a {
  color: #443e36;
}
.region-sidebar-first section:first-child {
  background: #585e62;
  color: #fff7e6;
}
.region-sidebar-first section:first-child .block-title {
  background: #363c3f;
  padding-bottom: 5px;
}
.region-sidebar-first section:first-child a {
  color: #f5e5c2;
}
.region-sidebar-first section {
  background: #143d66;
  color: #f4f3eb;
}
.region-sidebar-first section a {
  color: #fff;
}
.region-sidebar-first section .block-title {
  background: #143d66;
  color: #f4f3eb;
}
.region-sidebar-first section:first-child {
  background-color: #194c7e;
  color: #f4f3eb;
}
.region-sidebar-first section:first-child a {
  color: #fff;
}
.region-sidebar-first section:first-child .block-title {
  background: #143d66;
  color: #f4f3eb;
}
.region-sidebar-first section:nth-child(2) {
  background: #2268ac;
  color: #f4f3eb;
}
.region-sidebar-first section:nth-child(2) a {
  color: #fffbde;
}
.region-sidebar-first section:nth-child(2) .block-title {
  background: #1f5c99;
  color: #f4f3eb;
}
.region-sidebar-first section:nth-child(3) {
  background: #2d7ecf;
  color: #f4f3eb;
}
.region-sidebar-first section:nth-child(3) a {
  color: #fffbde;
}
.region-sidebar-first section:nth-child(3) .block-title {
  background: #2671bd;
  color: #f4f3eb;
}

/*
* Main content
*/
.main-container {
  padding: 15px 0 30px 0;
}
.main-container section.main {
  background: #143f66;
}
.main-inner {
  background: #fff;
  padding: 25px;
  border-left: 1px solid #233140;
  border-bottom: 1px solid #233140;
  border-right: 1px solid #233140;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

/*
* Comments
*/
section.comment-wrapper,
section#comment-form-wrapper {
  padding: 0;
}
section.comment-wrapper {
  margin-top: 70px;
}
.indented {
  padding-left: 21px; /* LTR */
  margin-left: -1px;
  border-left: 1px solid #333;
}
.indented .comment {
  border-left: 1px solid #233140;
}
.comment-links ul {
  margin: 0;
}
.comment.well {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  padding: 0 !important;
  border: none;
  margin-bottom: 0;
}
.comments-content .comment-form {
  background: #fff;
  padding: 25px;
}
.comment-form-end {
  padding-top: 25px;
}
.comment-links {
  color: rgb(244, 243, 235);
  background: #1f5c99;
  font-weight: bold;
  line-height: 16px;
  margin: 0px;
  padding: 5px 10px;
  text-transform: lowercase;
  font-family: Arial,Helvetica,sans-serif;
}
.comment-links a {
  color: rgb(244, 243, 235);
}
.comment p {
  background-color: #194c7e;
  color: #fff;
  padding: 10px;
  margin: 0;
}
.comment .submitted {
  color: rgb(244, 243, 235);
  background: #143d66;
  font-weight: bold;
  line-height: 16px;
  margin: 0px;
  padding: 5px 10px;
  text-transform: lowercase;
  font-family: Arial,Helvetica,sans-serif;
  font-style: normal;
}
.comment .submitted a {
  color: #fff;
}
.indented .comment .submitted {
  background: #2268ac;
}
.indented .comment .submitted a {
  color: #fff;
}
.indented .comment p {
  background: #2671bd;
}
.indented .comment-links {
  background: #2d7ecf;
}
.comments-content {
  margin-left: -25px;
  margin-right: -25px;
  background: #333;
}
.comment {
  margin-bottom: 0;
}

/*
* Navbar
*/
.nav-tabs > li > a {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.nav > .disabled > a {
  color: #b4bcc2;
}

.nav > .disabled > a:hover,
.nav > .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
}

.navbar {
  *position: relative;
  *z-index: 2;
  margin-bottom: 0;
  overflow: visible;
}

.navbar-inner {
  min-height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #2c3e50;
  background-image: -moz-linear-gradient(top, #2c3e50, #143d66);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2c3e50), to(#143d66));
  background-image: -webkit-linear-gradient(top, #2c3e50, #143d66);
  background-image: -o-linear-gradient(top, #2c3e50, #143d66);
  background-image: linear-gradient(to bottom, #2c3e50, #143d66);
  background-repeat: repeat-x;
  border-top: 1px solid #233140;
  border-left: 1px solid #233140;
  border-right: 1px solid #233140;
  border-bottom: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2c3e50', endColorstr='#ff143d66', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  text-transform: lowercase;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-radius-bottomright: 0;
  -webkit-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
}

.navbar-inner:before,
.navbar-inner:after {
  display: table;
  line-height: 0;
  content: "";
}

.navbar-inner:after {
  clear: both;
}

.navbar .container {
  width: auto;
}

.nav-collapse.collapse {
  height: auto;
  overflow: visible;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 15px 20px 15px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #ffffff;
  text-shadow: 0 1px 0 #2c3e50;
}

.navbar .brand:hover,
.navbar .brand:focus {
  text-decoration: none;
}

.navbar-text {
  margin-bottom: 0;
  line-height: 50px;
  color: #ffffff;
}

.navbar-link {
  color: #ffffff;
}

.navbar-link:hover,
.navbar-link:focus {
  color: #1abc9c;
}

.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-right: 1px solid #2c3e50;
  border-left: 1px solid #2c3e50;
}

.navbar .btn,
.navbar .btn-group {
  margin-top: 10px;
}

.navbar .btn-group .btn,
.navbar .input-prepend .btn,
.navbar .input-append .btn,
.navbar .input-prepend .btn-group,
.navbar .input-append .btn-group {
  margin-top: 0;
}

.navbar-form {
  margin-bottom: 0;
  *zoom: 1;
}

.navbar-form:before,
.navbar-form:after {
  display: table;
  line-height: 0;
  content: "";
}

.navbar-form:after {
  clear: both;
}

.navbar-form input,
.navbar-form select,
.navbar-form .radio,
.navbar-form .checkbox {
  margin-top: 10px;
}

.navbar-form input,
.navbar-form select,
.navbar-form .btn {
  display: inline-block;
  margin-bottom: 0;
}

.navbar-form input[type="image"],
.navbar-form input[type="checkbox"],
.navbar-form input[type="radio"] {
  margin-top: 3px;
}

.navbar-form .input-append,
.navbar-form .input-prepend {
  margin-top: 5px;
  white-space: nowrap;
}

.navbar-form .input-append input,
.navbar-form .input-prepend input {
  margin-top: 0;
}

.navbar-search {
  position: relative;
  float: left;
  margin-top: 10px;
  margin-bottom: 0;
}

.navbar-search .search-query {
  padding: 4px 14px;
  margin-bottom: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

.navbar .nav.pull-right {
  float: right;
  margin-right: 0;
}

.navbar .nav > li {
  float: left;
}

.navbar .nav > li > a {
  float: none;
  padding: 15px 15px 15px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 1px 0 #2c3e50;
}

.navbar .nav .dropdown-toggle .caret {
  margin-top: 8px;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #1abc9c;
  text-decoration: none;
  background-color: transparent;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #1abc9c;
  text-decoration: none;
  background-color: #233140;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-right: 5px;
  margin-left: 5px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #233140;
  *background-color: #233140;
  background-image: -moz-linear-gradient(top, #233140, #233140);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#233140), to(#233140));
  background-image: -webkit-linear-gradient(top, #233140, #233140);
  background-image: -o-linear-gradient(top, #233140, #233140);
  background-image: linear-gradient(to bottom, #233140, #233140);
  background-repeat: repeat-x;
  border-color: #233140 #233140 #080b0e;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff233140', endColorstr='#ff233140', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #233140;
  *background-color: #1a242f;
}

.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-color: #11181f \9;
}

.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}

.navbar .nav > li > .dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0);
  content: '';
}

.navbar .nav > li > .dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: none;
  border-bottom: none;
  border-left: none;
  content: '';
}

.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
  border-top-color: #1abc9c;
  border-bottom-color: #1abc9c;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #1abc9c;
  background-color: #233140;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #1abc9c;
  border-bottom-color: #1abc9c;
}

.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.navbar .pull-right > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu.pull-right:before {
  right: 12px;
  left: auto;
}

.navbar .pull-right > li > .dropdown-menu:after,
.navbar .nav > li > .dropdown-menu.pull-right:after {
  right: 13px;
  left: auto;
}

.navbar .pull-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
  right: 100%;
  left: auto;
  margin-right: -1px;
  margin-left: 0;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/*
* Tags
*/
.field-name-field-tags .links a,
.field-name-field-category .links a {
  color: #fff;
}

.field-name-field-tags .links .tag {
  margin-right: 3px;
}

.field-name-field-tags .field-label {
  margin-right: 3px;
}
.form-search .input-append .search-query {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.form-search .input-append .btn {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.comment-form {
  margin-bottom: 0;
  margin-top: 25px;
}
section#search {
  display: none;
}
.expand-main-content {
  border-top-right-radius: 0px;
  -webkit-border-radius-topright: 0px;
  -moz-border-radius-topright: 0px;
}
section.search {
  min-height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  background-color: #233140;
  border-left: 1px solid #233140;
  border-right: 1px solid #233140;
  text-transform: lowercase;
}

.field-name-field-image {
  margin-right: 10px;
}

.footer {
  border-top: 1px solid #444;
}

article footer {
  clear: both;
  padding-top: 10px;
}
.links {
  margin-top: 10px;
}

/*
* Drop down menus
*/
.dropdown-menu {
  background-color: #233140;
  border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  border: none;
  margin-top: 0px;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #ffffff;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #17b394;
  background-image: -moz-linear-gradient(top, #15477b, #15477b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#15477b), to(#15477b));
  background-image: -webkit-linear-gradient(top, #15477b, #15477b);
  background-image: -o-linear-gradient(top, #15477b, #15477b);
  background-image: linear-gradient(to bottom, #15477b, #15477b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff15477b', endColorstr='#ff15477b', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #1abc9c;
  text-decoration: none;
  background-color: #17b394;
  background-image: -moz-linear-gradient(top, #15477b, #15477b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#15477b), to(#15477b));
  background-image: -webkit-linear-gradient(top, #15477b, #15477b);
  background-image: -o-linear-gradient(top, #15477b, #15477b);
  background-image: linear-gradient(to bottom, #15477b, #15477b);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff15477b', endColorstr='#ff15477b', GradientType=0);
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #b4bcc2;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open {
  *z-index: 1000;
}

.open > .dropdown-menu {
  display: block;
}

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -5px;
  margin-left: -1px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.dropdown-submenu > a:after {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-right: -10px;
  border-color: transparent;
  border-left-color: #080b0e;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.dropdown .dropdown-menu .nav-header {
  padding-right: 20px;
  padding-left: 20px;
}

.article-content {
  border-bottom: 1px solid #eeeeee;
}

article .submitted {
  font-style: normal;
  margin-bottom: 10px;
}

article header {
  margin-bottom: 10px;
}

article.comment header {
  margin-bottom: 0px;
}

article header h2 {
  margin-bottom: 0;
}

.links.inline {
  float: right;
}

article.comment .links.inline {
  float: none;
}
